[submodule "stern-bin"]
	path = stern-bin
	url = git+ssh://aur@aur.archlinux.org/stern-bin.git
	branch = master
[submodule "kubeless"]
	path = kubeless
	url = git+ssh://aur@aur.archlinux.org/kubeless.git
	branch = master
[submodule "kubeless-bin"]
	path = kubeless-bin
	url = git+ssh://aur@aur.archlinux.org/kubeless-bin.git
	branch = master
[submodule "kubeless-git"]
	path = kubeless-git
	url = git+ssh://aur@aur.archlinux.org/kubeless-git.git
	branch = master
[submodule "dive-git"]
	path = dive-git
	url = git+ssh://aur@aur.archlinux.org/dive-git.git
	branch = master
[submodule "plantuml"]
	path = plantuml
	url = git+ssh://aur@aur.archlinux.org/plantuml.git
	branch = master
[submodule "skaffold-bin"]
	path = skaffold-bin
	url = git+ssh://aur@aur.archlinux.org/skaffold-bin.git
	branch = master
[submodule "skaffold"]
	path = skaffold
	url = git+ssh://aur@aur.archlinux.org/skaffold.git
	branch = master
[submodule "kalu"]
	path = kalu
	url = git+ssh://aur@aur.archlinux.org/kalu.git
	branch = master
[submodule "kalu-git"]
	path = kalu-git
	url = git+ssh://aur@aur.archlinux.org/kalu-git.git
	branch = master
[submodule "alacritty-git"]
	path = alacritty-git
	url = git+ssh://aur@aur.archlinux.org/alacritty-git.git
	branch = master
[submodule "cower"]
	path = cower
	url = git+ssh://aur@aur.archlinux.org/cower.git
	branch = master
[submodule "datawire-forge"]
	path = datawire-forge
	url = git+ssh://aur@aur.archlinux.org/datawire-forge.git
	branch = master
[submodule "drawio-desktop-bin"]
	path = drawio-desktop-bin
	url = git+ssh://aur@aur.archlinux.org/drawio-desktop-bin.git
	branch = master
[submodule "guix"]
	path = guix
	url = git+ssh://aur@aur.archlinux.org/guix.git
	branch = master
[submodule "luakit"]
	path = luakit
	url = git+ssh://aur@aur.archlinux.org/luakit.git
	branch = master
[submodule "pepper"]
	path = pepper
	url = git+ssh://aur@aur.archlinux.org/pepper.git
	branch = master
[submodule "reg"]
	path = reg
	url = git+ssh://aur@aur.archlinux.org/reg.git
	branch = master
[submodule "img"]
	path = img
	url = git+ssh://aur@aur.archlinux.org/img.git
	branch = master
[submodule "img-bin"]
	path = img-bin
	url = git+ssh://aur@aur.archlinux.org/img-bin.git
	branch = master
[submodule "kaniko"]
	path = kaniko
	url = git+ssh://aur@aur.archlinux.org/kaniko.git
	branch = master
