[submodule "stern-bin"]
	path = stern-bin
	url = git+ssh://aur@aur.archlinux.org/stern-bin.git
	branch = master
[submodule "kubeless"]
	path = kubeless
	url = git+ssh://aur@aur.archlinux.org/kubeless.git
	branch = master
[submodule "kubeless-bin"]
	path = kubeless-bin
	url = git+ssh://aur@aur.archlinux.org/kubeless-bin.git
	branch = master
[submodule "kubeless-git"]
	path = kubeless-git
	url = git+ssh://aur@aur.archlinux.org/kubeless-git.git
	branch = master
